body{padding:12px 24px; overflow:auto; font-size:14px;}
p{padding:0 10px; margin-top:0;}
h1, h2, h3{margin:0 0 6px 0;}
.lectimg{float:left; vertical-align: middle}
h1{
	font-size:300%;
	color:#999;
	line-height:.9;
	margin-bottom:4px;
}
h1 img{vertical-align:middle; padding-right:12px;}
p.instruct{
	font-size:120%;
	color:#666;
}
.step{
	padding:18px;
	border:1px solid #ccc;
	margin-bottom:18px;
	background-color:#fcfcfc;
	clear:left;
}
textarea {
	width: 600px;
	height:200px;
	margin:0 12px;
}

div.buttons{
	margin:12px;
}
div.buttons a{
	display:inline-block;
}
.role{
	clear:left; 
	margin:12px 18px; 
	overflow:hidden;
	padding-bottom:12px;
	background-color:#efefef;
	padding:12px;
	border-radius: 12px;
}
.rolebox{
	background-color:#efefef;
	padding:12px;
	border-radius: 12px;
}
.role div{float:left;padding:0 12px;}
.role div.image{100px}
.role div.image img{width:100px;}
.role div.name{
	width:80px;
	font-weight:bold;
	font-size:120%;
}
.role div.desc{
	width:40%;
}
.role div.argument{
	width:65%;
}
.role div.desc p{
	margin-top:0;
}
.role div.docs{width:150px;}
.step .centerbuttons{
	text-align: center;
	margin-top:40px;
	font-size:130%;
}

.role.self{
	background-color:beige;
}
.chosen {
	background-color: #666;
	color:#fff;
}
.chosen .button{
	background-image:none;
	background-color:#ccc;
	border:1px solid #999;
}
.tabs a{
	border:1px solid #999;
	border-bottom:0;
	padding:8px;
	color:#666;
	background-color:#efefef;
	float:left;
}
.tabs a:first-child{
	border-right:0;
}
.tabs .active{
	background-color:#fff;
}
.tabs a.active{color:#008CD2;}

.tab2{display:none;}
.tab{display:inline;}
.chat ul li{
	list-style-type: none;
	background-color: #fff;
	padding: 10px;
	font-weight: normal;
	width: 600px;
}
#debate {
	display:none;
}
.chatfield{
	display: block;
    float: left;
    height: 30px;
    margin: 12px;
    width: 530px;
}