<h2>The Dred Scott Case</h2>
<p>It in 1863 and the Dred Scott case (Dred Scott v. Sanford) has just been decided by the Supreme Court. Do you support their decision? Why or why not?</p>

<h2>Approve the group's opening argument</h2>
<p>Now that you have revised your opening argument as a group, you should now vote to approve the opening argument</p>
<div class="text">
    <h2>Opening Argument</h2>
    
    <textarea><%= this.openingArgument%></textarea>

</div>
<p>3/5 have approved. John has decented. 1 pending (You).<p>
<p>John said, I think we need to add some more detail around x.</p>
<div class="buttons">
    <a href="#" class="button nb_big approve">Approve</a>
    <a href="#" class="button nb_big reject">Revise again</a>
    <a href="#" class="button nb_big group_submit">Submit</a>
</div>
