<h2>Group Chat</h2>
<textarea>
Person 1 >> I really think we need to use the quote "all men are created equal" in the statement

Person 3 >> My argument is clearly the best, I don't know why you all didn't vote for it



</textarea>
<input type="text" class="chatfield">
<div class="buttons">
    <a href="#" class="button submit_chat">Submit</a>
</div>

