		<h1 class="finalhead"><img src="images/lectern_sm.png" class="lectimg"> Virtual Debate</h1>
 
			<div class="result">
				<div class="grade">Your Grade: <span class="gradenum">82</span></div>
				<div class="comments"><strong>Instructor Comment:</strong> Great job on your arguments, but you could have used the details from the supporting documents better in your writing.</div>
				<div class="comments"><strong>Arguments Chosen:</strong> 2 (12 total votes)</div>
				<div><strong>Your Team:</strong> 2 Wins/6 Losses</div>
			</div>

		<div class="step">
			<h2>Scenario</h2>
			<p><strong>The Dred Scott Case</strong> - It is 1863 and the Dred Scott case (Dred Scott v. Sanford) has just been decided by the Supreme Court. Do you support their decision? Why or why not?</p>
			<table class="debateview">
			<tr>
				<td></td>
				<td class="winner">
					<div class="win">Winner</div>
					<div class="image"><img src="images/taney.jpg"></div>
					<div class="name">Chief Justice Taney</div>
				<div class="comments"><strong>Instructor Comment:</strong> Arguments were much more persuasive and compelling, use of primary sources was a big bonus.</div>
				</td>
				<td></td>
				<td>
					<div class="image"><img src="images/DredScott.jpg"></div>
					<div class="name">Dred Scott</div>
				</td>
			</tr>
			<tr>
				<th>
					<strong>Opening Arguments</strong>
				</th>
				<td>
					<p>I support this decision because slaves aren’t legally allowed to bring a lawsuit against their masters and because it would set a bad precedent for slave rights.</p>

				</td>
				<td></td>
				<td>
					<p>I don’t support this decision because I lived in a free state, which should make me free, and because slavery shouldn’t still exist in a nation “all men are created equal.</p>
				</td>
			</tr>
			<tr>
				<th>
					<strong>Supporting Argument</strong>
				</th>
				<td>
				</td>
				<td></td>
				<td>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</td>
			</tr>
			<tr>
				<th>
					<strong>Rebuttal and Argument</strong>
				</th>
				<td>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>

				</td>
				<td></td>
				<td>
				</td>
			</tr>
			<tr>
				<th>
					<strong>Rebuttal and Argument</strong>
				</th>
				<td>
				</td>
				<td></td>
				<td>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</td>
			</tr>
			<tr>
				<th>
					<strong>Rebuttal and Argument</strong>
				</th>
				<td>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>

				</td>
				<td></td>
				<td>
				</td>
			</tr>
			<tr>
				<th>
					<strong>Rebuttal and Argument</strong>
				</th>
				<td>
				</td>
				<td></td>
				<td>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</td>
			</tr>
			<tr>
				<th>
					<strong>Rebuttal and Argument</strong>
				</th>
				<td>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>

				</td>
				<td></td>
				<td>
				</td>
			</tr>
			<tr>
				<th>
					<strong>Closing Arguments</strong>
				</th>
				<td>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

				</td>
				<td></td>
				<td>
					<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
				</td>
			</tr>

		</table>
				</div>
			</div>

