		<h1 class="subpage"><img src="images/lectern_sm.png" class="lectimg"> Virtual Debate</h1>
			<div class="step">
			<div class="text">
				<h2>Review Opening Arguments</h2>
				<p class="instruct">Review the opening arguments for your group and vote for the one you think best presents your case.</p>
				<p>Time to Complete: 5 Minutes</p>
				<div class="role">
					<div class="name">Person 1</div>
					<div class="desc"><span class="alert">I don’t support this decision because slavery was never intended to be a permanent part of the United States.</span></div>
					<div class="docs buttons"><a class="button vote">Vote</a></div>
				</div>
				<div class="role self">
					<div class="name">Person 2 (You)</div>
					<div class="desc"><%= this.openingArgument%></div>
					<div class="docs buttons"></div>
				</div>
				<div class="role">
					<div class="name">Person 3</div>
					<div class="desc"><span class="alert">No Submission</span></div>
					<div class="docs buttons"><a class="button vote">Vote</a></div>
				</div>
				<div class="role">
					<div class="name">Person 4</div>
					<div class="desc">I do not support this decision because I lived in a free state for so many years and that should make my family and me free.</div>
					<div class="docs buttons"><a class="button vote">Vote</a></div>
				</div>
				<div class="role">
					<div class="name">Person 5</div>
					<div class="desc"><span class="alert">I support this decision because it will help us to rally against the South and the institution of slavery, despite it being morally wrong.</span></div>
					<div class="docs buttons"><a class="button vote">Vote</a></div>
				</div>

			</div>
		</div>
			<div class="buttons">
				<a href="#" class="button nb_big submit_vote">Continue</a>
			</div>
			<div class="step">
			<h2>Scenario</h2>
			<p><strong>The Dred Scott Case</strong> - It is 1863 and the Dred Scott case (Dred Scott v. Sanford) has just been decided by the Supreme Court. Do you support their decision? Why or why not?</p>

			<h2>Your Role</h2>
							<div class="role rolebox">
				<div class="image"><img src="images/DredScott.jpg"></div>
				<div class="name">Dred Scott</div>
				<div class="desc"><p>As Dred Scott, you were born a slave in Virginia around 1800. In the 1830s, you were taken by your master to territories in the Upper Midwest. When you married your wife Harriet, also a slave, your master purchased Harriet and then owned the two children you had together. Your master died in 1843 and your mistress moved you and your family to St. Louis, where you petitioned for your freedom in 1846.</p></div>
				<div class="docs">
					<strong>Supporting Documents</strong><br>
					<a href="#">Biography of Dred Scott</a><br>
					<a href="#">Dred Scott Letters</a>
				</div>
			</div>
		</div>