			<div class="role rolebox">
				<div class="image"><img src="images/DredScott.jpg"></div>
				<div class="name">Dred Scott</div>
				<div class="desc"><p>I absolutely do not support this decision because I lived in free states for so many years and that should make my family and I free.</p></div>
				<div class="docs">
					<strong>Supporting Documents</strong><br>
					<a href="#">Biography of Dred Scott</a><br>
					<a href="#">Dred Scott Letters</a>
				</div>
			</div>
			<div class="text">
				<h2>Review Opening Arguments</h2>
				<p>Review the opening arguments for your group and vote for the one you think best represents your group</p>
				<div class="role">
					<div class="name">Person 1</div>
					<div class="desc"><span class="alert">Waiting for Person 3 to submit their argument</span></div>
					<div class="docs buttons"><a class="button">Vote</a></div>
				</div>
				<div class="role">
					<div class="name">Person 2 (You)</div>
					<div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel mauris eu velit aliquam laoreet. Vestibulum faucibus velit id lectus mollis pretium. Ut quis nunc non augue fermentum faucibus quis commodo sem. Quisque gravida, dui non adipiscing lacinia, nibh dolor tempus diam, ut accumsan neque orci a augue. Mauris fermentum cursus neque, sit amet molestie dolor varius nec. In ultrices libero vel erat ullamcorper et sodales est ultricies. Proin id quam non nunc ornare convallis quis ut dui.</div>
					<div class="docs buttons"></div>
				</div>
				<div class="role">
					<div class="name">Person 3</div>
					<div class="desc"><span class="alert">Waiting for Person 3 to submit their argument</span></div>
					<div class="docs buttons"><a class="button">Vote</a></div>
				</div>
				<div class="role">
					<div class="name">Person 4</div>
					<div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel mauris eu velit aliquam laoreet. Vestibulum faucibus velit id lectus mollis pretium. Ut quis nunc non augue fermentum faucibus quis commodo sem. Quisque gravida, dui non adipiscing lacinia, nibh dolor tempus diam, ut accumsan neque orci a augue. Mauris fermentum cursus neque, sit amet molestie dolor varius nec. In ultrices libero vel erat ullamcorper et sodales est ultricies. Proin id quam non nunc ornare convallis quis ut dui.</div>
					<div class="docs buttons"><a class="button">Vote</a></div>
				</div>
				<div class="role">
					<div class="name">Person 5</div>
					<div class="desc"><span class="alert">Waiting for Person 3 to submit their argument</span></div>
					<div class="docs buttons"><a class="button">Vote</a></div>
				</div>

			</div>
			<div class="buttons">
				<a href="#" class="button nb_big">Continue</a>
			</div>