					<h1 class="subpage"><img src="images/lectern_sm.png" class="lectimg"> Virtual Debate</h1>

			<div class="tabs">
				<a href="#" class="tab active">Revise Argument</a>
				<a href="#" class="tab">Review Arguments</a>
			</div>
			<div class="tabtext tab1 step">
			<div class="text">
				<h2>Revise Opening Argument</h2>
				<p class="instruct">With your group revise the opening argument to incorporate the best of everyone's writing. Start with the vote winning argument and revise from there.</p>
				<p>Time to Complete: 20 Minutes</p>
			<iframe src="https://docs.google.com/document/d/1OwW5jnd_js0Dj9i1JrqpDZbJtxzltDxZvFm4L1kj5ak/edit?usp=sharing" width="800" height="400"></iframe>
			<div class="buttons">
				<a href="#" class="button submit_revision">Call for Vote</a> 
			</div>
			<p class="instruct">(when you feel like this argument is complete call for a vote. If the majority agrees this will be submitted as your groups argument)</p>
			</div>
			<div id="chat" class="text chat">
			</div>
			<div class="text">
				<h2>Instructor Comments</h2>
				<div class="meta">Posted Today at 4:35pm</div>
				<p>This is looking good, keep up the good work!</p>
			</div>

			</div>
			<div class="tabtext tab2 step">
				<h2>Review Opening Arguments</h2>
				<p>Review the opening arguments for your group and vote for the one you think best represents your group</p>
				<div class="role">
					<div class="name">Person 1</div>
					<div class="desc"><span class="alert">I don’t support this decision because slavery was never intended to be a permanent part of the United States.</span></div>
					<div class="docs buttons"><a class="button">Vote</a></div>
				</div>
				<div class="role">
					<div class="name">Person 2 (You)</div>
					<div class="desc">This decision is unacceptable because the executive branch interfered with the decision and there should be a clear demarcation between branches of government.</div>
					<div class="docs buttons"></div>
				</div>
				<div class="role">
					<div class="name">Person 3</div>
					<div class="desc">No Submission</div>
					<div class="docs buttons"><a class="button">Vote</a></div>
				</div>
				<div class="role">
					<div class="name">Person 4</div>
					<div class="desc"> I do not support this decision because I lived in a free state for so many years and that should make my family and me free.</div>
					<div class="docs buttons"><a class="button">Vote</a></div>
				</div>
				<div class="role">
					<div class="name">Person 5</div>
					<div class="desc">I support this decision because it will help us to rally against the South and the institution of slavery, despite it being morally wrong.</div>
					<div class="docs buttons"><a class="button">Vote</a></div>
				</div>
			</div>
						<div class="step">
			<h2>Scenario</h2>
			<p><strong>The Dred Scott Case</strong> - It is 1863 and the Dred Scott case (Dred Scott v. Sanford) has just been decided by the Supreme Court. Do you support their decision? Why or why not?</p>

			<h2>Your Role</h2>
							<div class="role rolebox">
				<div class="image"><img src="images/DredScott.jpg"></div>
				<div class="name">Dred Scott</div>
				<div class="desc"><p>As Dred Scott, you were born a slave in Virginia around 1800. In the 1830s, you were taken by your master to territories in the Upper Midwest. When you married your wife Harriet, also a slave, your master purchased Harriet and then owned the two children you had together. Your master died in 1843 and your mistress moved you and your family to St. Louis, where you petitioned for your freedom in 1846.</p></div>
				<div class="docs">
					<strong>Supporting Documents</strong><br>
					<a href="#">Biography of Dred Scott</a><br>
					<a href="#">Dred Scott Letters</a>
				</div>
			</div>
