		 
		<h1><img src="images/lectern_sm.png" class="lectimg"> Virtual Debate</h1>
		<p class="instruct">In this exercise you will be assigned a role from the following scenario. You will represent this role in a group debate along with several other students.</p>
		<div class="step">
			<h2>Scenario</h2>
			<p><strong>The Dred Scott Case</strong> - It is 1863 and the Dred Scott case (Dred Scott v. Sanford) has just been decided by the Supreme Court. Do you support their decision? Why or why not?</p>

			<h2>Roles</h2>
			<p>You will be assigned one of the following roles for this debate.</p>

			<div class="role">
				<div class="image"><img src="images/taney.jpg"></div>
				<div class="name">Chief Justice Taney</div>
				<div class="desc"><p>As Roger B Taney, you are the Chief Justice of the Supreme Court and from Maryland. You are eighty years old when the case is tried and you’ve been sitting on the court since President Jackson appointed you nearly 30 years earlier. At the time of your decision, the Supreme Court consists of seven Democrats, of which you are one, one Republican, and one Whig.</p></div>
				<div class="docs">
					<strong>Supporting Documents</strong><br>
					<a href="#">Biography of Justice Taney</a><br>
					<a href="#">Letter from Taney about case</a>
				</div>
			</div>

			<div class="role">
				<div class="image"><img src="images/DredScott.jpg"></div>
				<div class="name">Dred Scott</div>
				<div class="desc"><p>As Dred Scott, you were born a slave in Virginia around 1800. In the 1830s, you were taken by your master to territories in the Upper Midwest. When you married your wife Harriet, also a slave, your master purchased Harriet and then owned the two children you had together. Your master died in 1843 and your mistress moved you and your family to St. Louis, where you petitioned for your freedom in 1846.</p></div>
				<div class="docs">
					<strong>Supporting Documents</strong><br>
					<a href="#">Biography of Dred Scott</a><br>
					<a href="#">Dred Scott Letters</a>
				</div>
			</div>
			<div class="buttons centerbuttons">
				<a href="#" class="button nb_big start">Start</a>
			</div>