		<img src="images/lectern_sm.png" class="lectimg"> 
		<h1>Virtual Debate</h1>
		<p>In this exercise you will be assigned a role from the following scenario. You will represent this role in a group discussion along with several other students.</p>
		<div class="step">
			<h2>The Dred Scott Case</h2>
			<p>It in 1863 and the Dred Scott case (Dred Scott v. Sanford) has just been decided by the Supreme Court. Do you support their decision? Why or why not?</p>

			<h2>Roles</h2>
			<p>You will be assigned one of the following roles for this debate.</p>

			<div class="role">
				<div class="image"><img src="images/taney.jpg"></div>
				<div class="name">Chief Justice Taney</div>
				<div class="desc"><p>This decision is the only constitutional one because slaves aren’t even legally allowed to bring a suit against their masters.</p></div>
				<div class="docs">
					<strong>Supporting Documents</strong><br>
					<a href="#">Biography of Justice Taney</a><br>
					<a href="#">Letter from Taney about case</a>
				</div>
			</div>

			<div class="role">
				<div class="image"><img src="images/DredScott.jpg"></div>
				<div class="name">Dred Scott</div>
				<div class="desc"><p>I absolutely do not support this decision because I lived in free states for so many years and that should make my family and I free.</p></div>
				<div class="docs">
					<strong>Supporting Documents</strong><br>
					<a href="#">Biography of Dred Scott</a><br>
					<a href="#">Dred Scott Letters</a>
				</div>
			</div>
			<div class="buttons centerbuttons">
				<a href="#" class="button nb_big start">Start</a>
			</div>