			<div class="tabs">
				<a href="#" class="tab active">Task</a>
				<a href="#" class="tab">Debate</a>
			</div>
		<div class="step">
			<h2>Scenario</h2>
			<p><strong>The Dred Scott Case</strong> - It is 1863 and the Dred Scott case (Dred Scott v. Sanford) has just been decided by the Supreme Court. Do you support their decision? Why or why not?</p>

			<h2>Your Role</h2>
			<div class="role rolebox">
				<div class="image"><img src="images/DredScott.jpg"></div>
				<div class="name">Dred Scott</div>
				<div class="desc"><p>I absolutely do not support this decision because I lived in free states for so many years and that should make my family and I free.</p></div>
				<div class="docs">
					<strong>Supporting Documents</strong><br>
					<a href="#">Biography of Dred Scott</a><br>
					<a href="#">Dred Scott Letters</a>
				</div>
			</div>
			<div class="text">
				<h2>Supporting Argument</h2>
				<p>Compose your supporting argument for your role. Using facts from the supporting documents will improve your grade</p>
				<textarea></textarea>

			</div>
			<div class="buttons">
				<a href="#" class="button nb_big submit">Submit</a>
			</div>
</div>